.login-container {
    display: flex;
    height: 100vh;
}

/* Left section */
.login-left {
    flex: 1;
    background:
      url('../../assets/Background.svg') no-repeat right center,
      linear-gradient(25.65deg, #252C5F 40.19%, #4D5BC5 132.05%);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
  
    padding: 40px;
    padding-top: 60px; 
    font-size: larger;
  }
  

.login-logo {
    width: 250px;
    margin-bottom: 20px;
    align-self: flex-start; 
}

.login-info-box {
    background-color: rgba(53, 69, 163, 0.6);
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    line-height: 1.4;
    margin-bottom: 180px;
  }
  

.login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #002855;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #003f73;
}

.error-message {
    color: red;
    text-align: center;
}

.logo-form {
    width: 320px;
    margin: 0 auto 10px;
    display: block;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .input-group input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }
  
  .login-footer {
    text-align: center;
    font-size: 14px;
    padding: 7px;
    color: #777;
    background-color: #010B26; 
  }
  

  