* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010b26;
}

.image-container {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

.cta-button {
    position: absolute;
    bottom: 250px; 
    left: 11%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #3498db;
    color: rgb(2, 36, 128);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #2980b9;
}
